{% extends 'project/basePages.html' %}

{% load static %}

{% block aside %}

   <h1>
        <i class="material-icons" style="color:black;">circle</i>
        Earth
        <i class="material-icons" style="color:black;">circle</i>
   </h1>

{% endblock %}

{% block header %}

    <figure>
        <img src="{% static 'project/images/earth.jpg' %}" alt="Earth" max-width="100%" height="100%">
        <figcaption>Earth</figcaption>
    </figure>

{% endblock %}

{% block main %}

    <section>
        <p>Earth is the planet we live on, the third of eight planets in our solar system and the only known place in the universe to support life. It is about 150 million kilometers (about 93 million miles) from the sun. </p>
    </section>

    <section>
        <p>The Earth is not flat! It is an oblate spheroid. This means it is spherical in shape, but not perfectly round. It has a slightly greater radius at the Equator, the imaginary line running horizontally around the middle of the planet. In addition to bulging in the middle, Earth’s poles are slightly flattened. The geoid describes the model shape of Earth, and is used to calculate precise surface locations.</p>
    </section>

    <section>
        <p>Earth has one natural satellite, the Moon. Earth is the only planet in the solar system to have one moon. Venus and Mercury do not have any moons, for example, while Jupiter and Saturn each have more than a dozen.</p>
    </section>

{% endblock %}