{% extends 'project/basePages.html' %}

{% load static %}

{% block aside %}

   <h1>
        <i class="material-icons" style="color:black;">circle</i>
        Jupiter
        <i class="material-icons" style="color:black;">circle</i>
   </h1>

{% endblock %}

{% block header %}

    <figure>
        <img src="{% static 'project/images/jupiter.jpg' %}" alt="Jupiter" max-width="100%" height="100%">
        <figcaption>Jupiter</figcaption>
    </figure>

{% endblock %}

{% block main %}

    <section>
        <p>Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a gas giant with a mass one-thousandth that of the Sun, but two and a half times that of all the other planets in the Solar System combined. Jupiter is the third-brightest natural object in the Earth's night sky after the Moon and Venus. It has been observed since pre-historic times and is named after the Roman god Jupiter.</p>
    </section>

    <section>
        <p>Jupiter is one of the four gas giants, being primarily composed of gas and liquid rather than solid matter. It is the largest planet in the Solar System, with a diameter of 142,984 km (88,846 mi) at its equator. The average density of Jupiter, 1.326 g/cm3, is the second highest of the giant planets, but lower than those of the four terrestrial planets.</p>
    </section>

    <section>
        <p>Theoretical models indicate that if Jupiter had much more mass than it does at present, it would shrink. For small changes in mass, the radius would not change appreciably, and above 160% of the current mass the interior would become so much more compressed under the increased pressure that its volume would decrease despite the increasing amount of matter. As a result, Jupiter is thought to have about as large a diameter as a planet of its composition and evolutionary history can achieve.</p>
    </section>

{% endblock %}