{% extends 'project/basePages.html' %}

{% load static %}

{% block aside %}

   <h1>
        <i class="material-icons" style="color:black;">circle</i>
        Mars
        <i class="material-icons" style="color:black;">circle</i>
   </h1>

{% endblock %}

{% block header %}

    <figure>
        <img src="{% static 'project/images/mars.jpg' %}" alt="Mars" max-width="100%" height="100%">
        <figcaption>Mars</figcaption>
    </figure>

{% endblock %}

{% block main %}

    <section>
        <p>Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury.</p>
        <p>In English, Mars carries the name of the Roman god of war and is often referred to as the "Red Planet". The latter refers to the effect of the iron oxide prevalent on Mars's surface, which gives it a reddish appearance distinctive among the astronomical bodies visible to the naked eye.</p>
    </section>

    <section>
        <p>The days and seasons are comparable to those of Earth, because the rotational period as well as the tilt of the rotational axis relative to the ecliptic plane are similar. Mars is the site of Olympus Mons, the largest volcano and highest known mountain on any planet in the Solar System, and of Valles Marineris, one of the largest canyons in the Solar System.</p>
        <p>The smooth Borealis basin in the Northern Hemisphere covers 40% of the planet and may be a giant impact feature. Mars has two moons, Phobos and Deimos, which are small and irregularly shaped. These may be captured asteroids, similar to 5261 Eureka, a Mars trojan.</p>
    </section>

{% endblock %}