{% extends 'project/basePages.html' %}

{% load static %}

{% block aside %}

    <h1>
        <i class="material-icons" style="color:black;">circle</i>
        Mercury
        <i class="material-icons" style="color:black;">circle</i>
    </h1>

{% endblock %}

{% block header %}

    <figure>
        <img src="{% static 'project/images/mercury.jpg' %}" alt="Mercury" max-width="100%" height="100%">
        <figcaption>Mercury</figcaption>
    </figure>

{% endblock %}

{% block main %}

    <section>
        <p>Mercury is the smallest and closest planet to the Sun in the Solar System. Its orbit around the Sun takes 87,97 Earth days, the shortest of all the planets in the Solar System. It is named after the Roman god Mercurius (Mercury), god of commerce, messenger of the gods, and mediator between gods and mortals, corresponding to the Greek god Hermes.</p>
    </section>

    <section>
        <p>Mercury rotates in a way that is unique in the Solar System. It is tidally locked with the Sun in a 3:2 spin–orbit resonance, meaning that relative to the fixed stars, it rotates on its axis exactly three times for every two revolutions it makes around the Sun.</p>
        <p>As seen from the Sun, in a frame of reference that rotates with the orbital motion, it appears to rotate only once every two Mercurian years. An observer on Mercury would therefore see only one day every two Mercurian years.</p>
    </section>

{% endblock %}
