{% extends 'project/basePages.html' %}

{% load static %}

{% block aside %}

    <h1>
        <i class="material-icons" style="color:black;">circle</i>
        Saturn
        <i class="material-icons" style="color:black;">circle</i>
    </h1>

{% endblock %}

{% block header %}

    <figure>
        <img src="{% static 'project/images/saturn.jpg' %}" alt="Saturn" max-width="100%" height="100%">
        <figcaption>Saturn</figcaption>
    </figure>

{% endblock %}

{% block main %}

    <section>
        <p>Saturn is the sixth planet from the Sun and the second-largest in the Solar System, after Jupiter, and is named after the Roman god of wealth and agriculture. It is a gas giant with an average radius of about nine times that of Earth.</p>
        <p>It only has one-eighth the average density of Earth; however, with its larger volume, Saturn is over 95 times more massive.</p>
    </section>

    <section>
        <p>The planet's most famous feature is its prominent ring system, which is composed mostly of ice particles, with a smaller amount of rocky debris and dust. At least 82 moons are known to orbit Saturn, of which 53 are officially named; this does not include the hundreds of moonlets in its rings.</p>
        <p>Titan, Saturn's largest moon and the second largest in the Solar System, is larger than the planet Mercury, although less massive, and is the only moon in the Solar System to have a substantial atmosphere.</p>
    </section>

{% endblock %}

<!DOCTYPE html>