{% extends 'project/basePages.html' %}

{% load static %}

{% block aside %}

    <h1>
        <i class="material-icons" style="color:black;">circle</i>
        The Sun
        <i class="material-icons" style="color:black;">circle</i>
    </h1>

{% endblock %}

{% block header %}

    <figure>
        <img src="{% static 'project/images/sun.jpg' %}" alt="The Sun" max-width="100%" height="100%">
        <figcaption>The Sun</figcaption>
    </figure>

{% endblock %}

{% block main %}

    <section>
        <p>The sun is an ordinary star, one of about 100 billion in our galaxy, the Milky Way. The sun has extremely important influences on our planet: It drives weather, ocean currents, seasons, and climate, and makes plant life possible through photosynthesis. </p>
    </section>

    <section>
        <p>The radius of the sun, or the distance from the very center to the outer limits, is about 700,000 kilometers (432,000 miles). That distance is about 109 times the size of Earth’s radius. The sun not only has a much larger radius than Earth—it is also much more massive. The sun’s mass is more than 333,000 times that of Earth, and contains about 99.8 percent of all of the mass in the entire solar system! </p>
    </section>

    <section>
        <p>The sun is about 150 million kilometers (93 million miles) from Earth. This distance, called an astronomical unit (AU), is a standard measure of distance for astronomers and astrophysicists. </p>
    </section>

{% endblock %}