{% extends 'project/basePages.html' %}

{% load static %}

{% block aside %}

    <h1>
        <i class="material-icons" style="color:black;">circle</i>
        Uranus
        <i class="material-icons" style="color:black;">circle</i>
    </h1>

{% endblock %}

{% block header %}

    <figure>
        <img src="{% static 'project/images/uranus.jpg' %}" alt="Uranus" max-width="100%" height="100%">
        <figcaption>Uranus</figcaption>
    </figure>

{% endblock %}

{% block main %}

    <section>
        <p>Uranus is the seventh planet from the Sun. Its name is a reference to the Greek god of the sky, Uranus, who, according to Greek mythology, was the grandfather of Zeus (Jupiter) and father of Cronus (Saturn). It has the third-largest planetary radius and fourth-largest planetary mass in the Solar System.</p>
        <p>Uranus is similar in composition to Neptune, and both have bulk chemical compositions which differ from that of the larger gas giants Jupiter and Saturn. For this reason, scientists often classify Uranus and Neptune as "ice giants" to distinguish them from the other gas giants.</p>
    </section>

    <section>
        <p>Uranus's atmosphere is similar to Jupiter's and Saturn's in its primary composition of hydrogen and helium, but it contains more "ices" such as water, ammonia, and methane, along with traces of other hydrocarbons.</p>
        <p>It has the coldest planetary atmosphere in the Solar System, with a minimum temperature of 49 K (−224 °C; −371 °F), and has a complex, layered cloud structure with water thought to make up the lowest clouds and methane the uppermost layer of clouds.</p>
    </section>

{% endblock %}