{% extends 'project/basePages.html' %}

{% load static %}

{% block aside %}

      <h1>About</h1>

{% endblock %}

{% block header %}

    <figure>
        <img src="{% static 'project/images/solarSystemAbout.jpg' %}" alt="Solar System" width="100%" height="100%">
        <figcaption>Solar System</figcaption>
    </figure>

{% endblock %}

{% block main %}
    <section>
        <h3>Technologies Used (About)</h3>
        <p>In this website we used a few technologies, including, but not limited to, HTML, CSS, Django and JavaScript.</p>
        <p>We used CSS and HTML to format the pages to the way they are now, for that we created a single page, using HTML, and then used it as a basis to make more pages using Django.</p>
        <p>Django was also used to connect the pages of the website, to read out the data bases, to add onto the data bases, to define how the pages were rendered, etc... Django was the most complicated, but also most important, part of this website as it servers as the basis for the whole project.</p>
        <p>JavaScript, unfortunately, wasnt used to its potential. We planned to create the incrementation of the quiz using Javascript and the SPA to see the lists, but due to time constraints, we werent able to do those things.</p>

        <center><table summary="Table Of Technologies Used">
            <caption>
                (Updated Technologies Used)
            </caption>
            <thead>
                <tr>
                    <th>Technology</th>
                    <th>Usage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>HTML</th>
                    <th>Used to style the pages in the format we need them to be. Also used in conjunction with Django in order to reduce the amount of information repeated between pages using a single page as the basis.</th>
                </tr>
                <tr>
                    <th>CSS</th>
                    <th>Used to format the elements in the HTML pages by creating classes, ids and other certain identifying elements so that we can format each individual section to our liking.</th>
                </tr>
                <tr>
                    <th>Django</th>
                    <th>Framework of the website, being used to store the HTML pages, the images, the CSS and the javascript used in the whole website. Also used to make sure the pages are viewed correctly and that the information that is needed can be carried between them.</th>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Javascript</th>
                    <th>Not used to its potential as we only planned to use it to increment the answers of the "Quiz" list.</th>
                </tr>
            </tfoot>
        </table></center>
    </section>

    <section>
        <h3>Techniques Used (About)</h3>
        <p>To make this website, we depended mostly on the use of the CSS property "position: absolute", especially for the Hub page, and the CSS Grid and Flexbox layout, for the rest of the pages.</p>
        <p>To make the Hub, we had to use the position absolute to put the planets, and their names, in the position we wanted them to be in. To make it so that they were in the same position no matter what screen we were in, we used the "%" values to change their "top" and "left" values, which are the properties we used to put the planets in their place.</p>
        <p>To make the pages, we had to focus on the CSS Grid, and how we would move them depending on if they´re on mobile or if they´re on laptop. For that we just had to define the different sections of the page, including the "title", which represents the title of the page, and the "header", which are the images to the left.</p>
        <p>To make the forms, aka the data bases for the pages, we had to focus on the movement between the pages, and how that data would be seen by the user. For that, we always show the list of the data base first, followed by the option to be able to add onto that list using a form. Addind onto the list was done using "Django".</p>

        <center><table summary="Table Of Techniques Used">
            <caption>
                (Updated Techniques Used)
            </caption>
            <thead>
                <tr>
                    <th>Caracteristics</th>
                    <th>Elements/Tecniques</th>
                    <th>Examples</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Layouts</th>
                    <th>We used CSS Grid and Flexbox to make the layout of all pages except the Hub.</th>
                    <th>This page is an example, as we made the title and the main as parts of the full layout.</th>
                </tr>
                <tr>
                    <th>Mobile Accessibility</th>
                    <th>We also used CSS Grid and Flexbox, along with media querys, to ensure that the website would run well with mobile users.</th>
                    <th>If we put these pages into a mobile phone, they will appear in a different way.</th>
                </tr>
                <tr>
                    <th>Selectors</th>
                    <th>All CSS selectors were used during this website, including, but not restricted to, the "class" selector, the "id" selector and the "pseudo-class" selector.</th>
                    <th>An example, taken directly from the CSS code, could be the id for the sun, that being -> "#sun".</th>
                </tr>
                <tr>
                    <th>Selector Combinations</th>
                    <th>Most CSS selector combinations were used during this website, including, but not restricted to, the "adjacent" combination ("~") and the "descendent" combination (" "). The only one not used was the "immediatly-adjacent" combination ("+").</th>
                    <th>An example, taken directly from the CSS code, could be "main section form fieldset p ~ p".</th>
                </tr>
                <tr>
                    <th>Tags</th>
                    <th>Most of the HTML 5 tags, except the "Article" tag, were used in the HTML code.</th>
                    <th>For an example, all the main content in this page was written inside the "main" tag.</th>
                </tr>
                <tr>
                    <th>Django</th>
                    <th>Used the views and models off of "views.py" and "models.py" such as "User" representing each contact via its variables with the type "models.CharField()".</th>
                    <th>The model/data base used to hold the contacts inserted has the variable ->  userName = models.CharField("User Name", max_length=40).</th>
                </tr>
                <tr>
                    <th>Javascript</th>
                    <th>Wasnt used to increment the amount of answers on the list and then show it on the site.</th>
                    <th>Not used in the website.</th>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Animations</th>
                    <th>We created two animations, one, that being the rotate animation, just made the image rotate, while the other, that being the border animation, just made the border colors change when they were hovered over.</th>
                    <th>The rotate animation was used for some of the planets in the Hub, while the border animation was strictly used for the image gallery, when the images are hovered over.</th>
                </tr>
            </tfoot>
        </table></center>
    </section>

    <section>
        <h3>Planet Gallery</h3>
        <p>The most beautiful pictures of the planets of our solar system, all in one accessible gallery!</p>

        <section class="flex-planet-gallery">
            <img src="{% static 'project/images/sun.jpg' %}" alt="Picture of Sun" width="50%" height="100%">
            <img src="{% static 'project/images/earth.jpg' %}" alt="Picture of Earth" width="50%" height="50%">
            <img src="{% static 'project/images/mars.jpg' %}" alt="Picture of Mars" width="50%" height="50%">
            <img src="{% static 'project/images/neptune.jpg' %}" alt="Picture of Neptune" width="50%" height="50%">
            <img src="{% static 'project/images/jupiter.jpg' %}" alt="Picture of Jupiter" width="50%" height="50%">
        </section>
    </section>

    <section>
        <h3>Wordcloud</h3>

        <svg>
            <a href="{% url 'index' %}">
                <image href="{% static 'project/images/wordcloudSolarSystem.jpg' %}" width="100%" height="100%"></image>
            </a>
        </svg>
    </section>

    <section>
        <h3>Videos</h3>
        <p>Showcase of various videos about the website and about our solar system.</p>

        <figure max-width="100%" height="100%">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9LDECrNM7Mg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption>(Updated Video about the Website)</figcaption>
        </figure>

        <figure max-width="100%" height="100%">
            <iframe width="60%" height="300" src="https://www.youtube.com/embed/libKVRa01L8" title="YouTube video player about Solar System" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption>(Video about the Solar System)</figcaption>
        </figure>
    </section>

    <section>
        <h3>Appreciation Form</h3>
        <p>Although this form is not required, we would appreciate it if you could please fill how you felt about the website.</p>

        <form method="POST" action="mailto:deeeeeepiam@gmail.com">
            <fieldset width="50%">
                <p>(These questions range from 1 to 5, 1 being the worst review you can give, and 5 being the highest)</p>

                <p>Did you enjoy the way the website was presented?</p>
                <label>Rating :</label>
                <input type="radio" name="enjoyRate" value="1">
                <input type="radio" name="enjoyRate" value="2">
                <input type="radio" name="enjoyRate" value="3">
                <input type="radio" name="enjoyRate" value="4">
                <input type="radio" name="enjoyRate" value="5">

                <p>Was the Hub presented in an original and/or interesting way?</p>
                <label>Rating :</label>
                <input type="radio" name="hubRate" value="1">
                <input type="radio" name="hubRate" value="2">
                <input type="radio" name="hubRate" value="3">
                <input type="radio" name="hubRate" value="4">
                <input type="radio" name="hubRate" value="5">

                <p>Did you enjoy the information we had about the planets?</p>
                <label>Rating :</label>
                <input type="radio" name="infoRate" value="1">
                <input type="radio" name="infoRate" value="2">
                <input type="radio" name="infoRate" value="3">
                <input type="radio" name="infoRate" value="4">
                <input type="radio" name="infoRate" value="5">

                <p>Did you learn more about the planets and their distinguishing features?</p>
                <label>Rating :</label>
                <input type="radio" name="distinctRate" value="1">
                <input type="radio" name="distinctRate" value="2">
                <input type="radio" name="distinctRate" value="3">
                <input type="radio" name="distinctRate" value="4">
                <input type="radio" name="distinctRate" value="5">

                <p>Was the website presented in an appealing way?</p>
                <label>Rating :</label>
                <input type="radio" name="appealRate" value="1">
                <input type="radio" name="appealRate" value="2">
                <input type="radio" name="appealRate" value="3">
                <input type="radio" name="appealRate" value="4">
                <input type="radio" name="appealRate" value="5">

                <p>Was the color scheme presentable and preety?</p>
                <label>Rating :</label>
                <input type="radio" name="colorRate" value="1">
                <input type="radio" name="colorRate" value="2">
                <input type="radio" name="colorRate" value="3">
                <input type="radio" name="colorRate" value="4">
                <input type="radio" name="colorRate" value="5">
            </fieldset>

            <fieldset>
                <p>How much did you enjoy the Website?</p>
                <select name="websiteRate" size="1"color>
                    <option value="Awful">Awful!</option>
                    <option value="Bad">Bad</option>
                    <option value="Mediocre" selected>Mediocre</option>
                    <option value="Good">Good</option>
                    <option value="Excellent">Excellent!</option>
                </select>
            </fieldset>

            <input type="image" src="{% static 'project/images/input.png' %}" alt="submitForm"  width="15%">
            <p>(By selecting this button, all data added to the form will be sent to the specified email)</p>
        </form>
    </section>

    <section>
        <h3>Inventory Table</h3>
        <p>This table contains the number of pages, images, links, videos and animations that the website contains.</p>

        <center><table summary="Inventory Table" col>
            <caption>
                (Inventory Table)
            </caption>
            <thead>
                <tr>
                    <th></th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Pages</th>
                    <th>11</th>
                </tr>
                <tr>
                    <th>Images</th>
                    <th>26</th>
                </tr>
                <tr>
                    <th>Links</th>
                    <th>21 (Only counting the menu once)</th>
                </tr>
                <tr>
                    <th>Videos</th>
                    <th>2</th>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Animations</th>
                    <th>2 (Two have been made individually)</th>
                </tr>
            </tfoot>
        </table></center>
    </section>

    <section>
        <h3>External Links</h3>
        <p>List of external links used in the making of this website.</p>
        <p>All the links about the planets were also used, but will be kept out for the sake of simplicity.</p>

        <ul>
            <li><i class="material-icons" style="color:white;">link</i> <a href="https://www.nationalgeographic.org/media/planets-wbt/">National Geographic</a></li>
            <li><i class="material-icons" style="color:white;">link</i> <a href="https://en.wikipedia.org/wiki/Solar_System">Wikipedia</a></li>
        </ul>
    </section>

    <section>
        <h3>Website Map</h3>

        <figure>
            <img src="{% static 'project/images/treeMap.png' %}" alt="Map of Website" width="75%" height="75%">
            <figcaption>(Updated Map of the Website)</figcaption>
        </figure>
    </section>

    <section>
        <h3>Layouts</h3>
        <p>Showcase of the CSS Grid and Flexbox layout used for these pages.</p>

        <section>
            <p>The title is set to the top left corner, as can be seen in this page. The nav is the navigation menu, the header is the images used and the main is the main content of the website.</p>
            <figure>
                <img src="{% static 'project/images/layoutPC.png' %}" alt="Layout for PC" width="50%" height="50%">
                <figcaption>(Layout for PC)</figcaption>
            </figure>
        </section>

        <section>
            <p>In the mobile version of the website, the Title now ocuppies the top part of the Grid, occupying 20% of the page. The header is now much smaller, staying next to the navigation menu.</p>
            <p>The main content is now also 100% of the website seen below the navigation menu and the image, so that mobile users can see the content of the website better.</p>
            <figure>
                <img src="{% static 'project/images/layoutTabletMobile.png' %}" alt="Layout for Tablet and Mobile" width="50%" height="50%">
                <figcaption>(Layout for Tablet and Mobile)</figcaption>
            </figure>
        </section>
    </section>
{% endblock %}
