{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hub para demonstrar a beleza do espaço. Feito para servir como projeto para a disciplina de programação web.">
    <meta name="keywords" content="SpaceHub,Lusofona,HTML,Programação Web,Trabalhos,Base,Projeto,Espaço,Programação,Planetas,Terra">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'project/css/cssBase.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'project/images/solarSystem.png' %}" />
    <title>SpaceHub</title>
</head>
<body>
    <aside class="title">
        {% block aside %}

        {%  endblock %}
    </aside>
    <header>
        {% block header %}

        {%  endblock %}
    </header>

    <main>
        {% block main %}

        {% endblock %}
    </main>

    <nav>
        <li class="infoTab">
            <a href="{% url 'about' %}" class="mainButton">About</a>
        </li>
         <li class="infoTab">
            <a href="{% url 'contactsView' %}" class="mainButton">Contacts</a>
         </li>
        <li class="infoTab">
            <a href="{% url 'quizView' %}" class="mainButton">Quizz</a>
        </li>
        <li class="infoTab">
            <a href="{% url 'commentsView' %}" class="mainButton">Comments</a>
        </li>
        <ul>
            <li>
                <a href="{% url 'index' %}" class="biggerFont mainButton">Solar System (Hub)</a>
                <ul>
                    <li><a href="{% url 'sun' %}" class="button">The Sun</a></li>
                    <li><a href="{% url 'mercury' %}" class="button">Mercury</a></li>
                    <li><a href="{% url 'venus' %}" class="button">Venus</a></li>
                    <li><a href="{% url 'earth' %}" class="button">Earth</a></li>
                    <li><a href="{% url 'mars' %}" class="button">Mars</a></li>
                    <li><a href="{% url 'jupiter' %}" class="button">Jupiter</a></li>
                    <li><a href="{% url 'saturn' %}" class="button">Saturn</a></li>
                    <li><a href="{% url 'uranus' %}" class="button">Uranus</a></li>
                    <li><a href="{% url 'neptune' %}" class="button">Neptune</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</body>
</html>