{% extends 'project/basePages.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'project/css/cssBase.css' %}">

{% block aside %}

   <h1>
        Add Comments
   </h1>

{% endblock %}

{% block header %}

    <figure>
        <img src="{% static 'project/images/wordcloudSolarSystem.jpg' %}" alt="Solar System" max-width="100%" height="100%">
        <figcaption>Wordcloud</figcaption>
    </figure>

{% endblock %}

{% block main %}

    <section>
        <p>In this page you can add a comment to the website.</p>
    </section>

    <section>
        <h3>Comment Form</h3>
        <p>In this form you can input any information related to the comment, which will then be added to a data base.</p>

        <form method="POST" action="">
            {% csrf_token %}

            <fieldset width="50%">
                <p>(You need to fill out all the values)</p>

                <p><label>User Name: </label> {{ form.userName }}</p>
                <p class="comment"><label>Comment: </label> {{ form.comment }}</p>
                <p><label>Rating (0...9): </label>{{ form.rating }}</p>

                <input type="submit" value="Save">
                <p>(By selecting this button, all information inputted will be added to the database)</p>
            </fieldset>
        </form>
    </section>

{% endblock %}