{% extends 'project/basePages.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'project/css/cssBase.css' %}">

{% block aside %}

   <h1>
        Add Contacts
   </h1>

{% endblock %}

{% block header %}

    <figure>
        <img src="{% static 'project/images/wordcloudSolarSystem.jpg' %}" alt="Solar System" max-width="100%" height="100%">
        <figcaption>Wordcloud</figcaption>
    </figure>

{% endblock %}

{% block main %}

    <section>
        <p>In this page we are asking for your contact information, so that we may store it in a data base where they will be safely kept.</p>
    </section>

    <section>
        <h3>Contact Information Form</h3>
        <p>In this form you can input any block of contact information, which will then be added to a data base.</p>

        <form method="POST" action="">
            {% csrf_token %}

            <fieldset width="50%">
                <p>(You need to fill out all the values)</p>

                {{ form.as_p }}

                <input type="submit" value="Save">
                <p>(By selecting this button, all information inputted will be added to the database)</p>
            </fieldset>
        </form>
    </section>

{% endblock %}