{% extends 'project/basePages.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'project/css/cssBase.css' %}">

{% block aside %}

   <h1>
        List of Contacts
   </h1>

{% endblock %}

{% block header %}

    <figure>
        <img src="{% static 'project/images/wordcloudSolarSystem.jpg' %}" alt="Solar System" max-width="100%" height="100%">
        <figcaption>Wordcloud</figcaption>
    </figure>

{% endblock %}

{% block main %}

    <section>
        <p>You are able to perform CRUD operations (List, Edit, Delete) on these contacts.</p>
    </section>

    <section>
        <h3>Contacts</h3>
        <p>Here we can see the contacts we created!</p>
        <p>You can create them using the "Create New Contact" button or by logging in as an admin.</p>

        <ul>
            {% for user in users %}
                <li class="item">
                    <i class="material-icons" style="color:green;">phone</i> {{ user.userName }} (<a href="{% url 'contactsEdit' user.id %}">View/Edit</a>)
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'contactsAdd' %}">Create New Contact</a>
    </section>

{% endblock %}