{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hub para demonstrar a beleza do espaço. Feito para servir como projeto para a disciplina de programação web.">
    <meta name="keywords" content="SpaceHub,Lusofona,HTML,Programação Web,Trabalhos,Base,Projeto,Espaço,Programação,Planetas">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'project/images/solarSystem.png' %}" />
    <link rel="stylesheet" href="{% static 'project/css/layoutHub.css' %}">
    <title>SpaceHub</title>
</head>
<body class="backgroundHub">
    <header class="backdrop">
        <h1 class="keepCenter"> SpaceHub </h1>
    </header>
    <aside>
        <p>Your main website for all the information about the planets of our solar system!</p>

        <p>By definition, a planet is a large object that orbits a star. To be a planet, an object must be massive enough for gravity to have squeezed it into a spherical, or round, shape. It must also be large enough for gravity to have swept up any rocky or icy objects from its path, or orbit, around the star.</p>
    </aside>

    <main>
        <a href="{% url 'sun' %}">
            <img src="{% static 'project/images/sunHub.png' %}" alt="Sun Link" id="sun" class="planet">
            <p class="hide hideSun">The Sun</p>
        </a>

        <a href="{% url 'mercury' %}">
            <img src="{% static 'project/images/mercuryHub.png' %}" alt="Mercury Link" id="mercury" class="planet rotate">
            <p class="hide hideMercury">Mercury</p>
        </a>

        <a href="{% url 'venus' %}">
            <img src="{% static 'project/images/venusHub.png' %}" alt="Venus Link" id="venus" class="planet rotate">
            <p class="hide hideVenus">Venus</p>
        </a>

        <a href="{% url 'earth' %}">
            <img src="{% static 'project/images/earthHub.png' %}" alt="Earth Link" id="earth" class="planet rotate">
            <p class="hide hideEarth">Earth</p>
        </a>

        <a href="{% url 'mars' %}">
            <img src="{% static 'project/images/marsHub.png' %}" alt="Mars Link" id="mars" class="planet rotate">
            <p class="hide hideMars">Mars</p>
        </a>

        <a href="{% url 'jupiter' %}">
            <img src="{% static 'project/images/jupiterHub.png' %}" alt="Jupiter Link" id="jupiter" class="planet rotate">
            <p class="hide hideJupiter">Jupiter</p>
        </a>

        <a href="{% url 'saturn' %}">
            <img src="{% static 'project/images/saturnHub.png' %}" alt="Saturn Link" id="saturn" class="planet">
            <p class="hide hideSaturn">Saturn</p>
        </a>

        <a href="{% url 'uranus' %}">
            <img src="{% static 'project/images/uranusHub.png' %}" alt="Uranus Link" id="uranus" class="planet">
            <p class="hide hideUranus">Uranus</p>
        </a>

        <a href="{% url 'neptune' %}">
            <img src="{% static 'project/images/neptuneHub.png' %}" alt="Neptune Link" id="neptune" class="planet">
            <p class="hide hideNeptune">Neptune</p>
        </a>
    </main>
</body>
</html>