{% extends 'project/basePages.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'project/css/cssBase.css' %}">

{% block aside %}

   <h1>
        List of Answers
   </h1>

{% endblock %}

{% block header %}

    <figure>
        <img src="{% static 'project/images/wordcloudSolarSystem.jpg' %}" alt="Solar System" max-width="100%" height="100%">
        <figcaption>Wordcloud</figcaption>
    </figure>

{% endblock %}

{% block main %}

    <section>
        <p>You are able to compare if the answers you gave are correct while also being able to see the answers you gave before or after that.</p>
        <p>(You are not able to change the answers you have already given)</p>
    </section>

    <section>
        <h3>Answers</h3>
        <p>Here we can see the answers you gave!</p>

        <ul>
            {% for answer in answers %}
                <li class="item">
                    <i class="material-icons" style="color:green;">check</i> {{ answer.name }} (<a href="{% url 'answerCheck' answer.id %}">Check</a>/<a href="{% url 'quizAnswer' answer.id %}">Compare</a>)
                </li>
            {% endfor %}
        </ul>
    </section>

    <a href="{% url 'quizAdd' %}">Add new Answer</a>

{% endblock %}