* {
    /* Feito para o layout responsivo */
    box-sizing: border-box;

    /*Definir a familia, o tamanho e as cores do texto */
    font-family: "Fira Code";
    font-size: 1.03em;
    color: white;

    /* Feito para o CSS Grid preencher a página toda */
    margin: 0;
    padding: 0;
}

/*Definir o tamanho do titulo */
h1 {
    font-size: 2.5em;
    font-style: italic;
    font-weight: bold;
}

/* Opções de movimentação para o titulo */
.keepLeft {
    float: left;
}

.keepRight {
    float: right;
}

/* CSS Grid e Flexbox do Planet */

/*Define the planet picture in CSS Grid and Flexbox */
header {
    grid-area: header;
    background-color: black;
    
    border: grey;
    border-style: dotted;
    border-width: 3px;
}

/*Make sure the image is formatted correctly and add some padding to the top as to not stick to border */
header > figure > img {
    width: 100%;
    height: 100%;

    padding-top: 10%;
}

/*Add a bit of a space between the pictures to the left*/
header > figure {
    padding-top: 5%;
}

/*Sets the main area for CSS grid*/
main {
    grid-area: main; 
    background-color: #1a1a1d;
    
    border: black;
    border-style: dotted;
    border-width: 1px;
}

/*Spaces between texts */
main section {
    padding: 3%;
}

/*Define the color and the size of the text */
main section p {
    font-size: 1.25em;
    padding: 1%;
    color: grey;
}

/*Define sub-title */
main section h3 {
    font-size: 1.5em;
    letter-spacing: 2px;

    text-decoration: darkgrey;
    text-decoration-line: underline;

    padding-bottom: 3%;
    padding-top: 3%;
}

/*Make the caption be more singled out */
main section figcaption {
    padding-top: 2%;
    
    color: lightgray;
}

/*Add a bit of space for the figure right after text*/
main section p ~ figure {
    padding-top: 4%;
}

/*Define the navigation menu in CSS Grid and Flexbox */
nav {
    grid-area: nav; 
    background-color: #6f2232;

    border: grey;
    border-style: dotted;
    border-width: 3px;
}

/* Feito para centrar o titulo corretamente com o menu de navegação */
/*Define the title in CSS Grid and Flexbox */
.title {
    grid-area: title;
    background-color: grey;

    border-style: dotted;   
    border-width: 3px;
    border-color: black;

    padding: 8%;
}

/* Menu de CSS Grid */
body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 20% 80%;
    grid-template-columns: 40% 60%;
    grid-template-areas:
    'title nav nav'
    'header main main'
    'header main main';
    background-color: #1a1a1d;
}

/* Align all text in the planet pages at the center */
body > * {
    text-align: center; 
}

/*Define external links menu */
main section ul {
    text-decoration: none; 
    list-style-type: none; 

    padding: 5%;
    font-size: 1.25em;
}

/* Dropdown menu */
nav ul {
    position: relative;
    left: 50%;
    bottom: 100%;

    text-decoration: none; 
    list-style-type: none; 
    background-color: #501b1d;

    text-align: justify;

    height: 100%;
    width: 50%;
}

nav > ul > li ul {
    display: none;
    text-decoration: none; 
}

nav ul li { 
    display: inline;
    position: relative;
}

/*Main button for the dropdown menu */
nav .mainButton {
    display: inline-block; 

    width: 100%;
    height: 100%;

    text-decoration: none; 
    white-space: pre-wrap;

    text-align: center;

    border-style: dotted;
    border-width: 2px;
    border-color: black;
}

.biggerFont {
    padding: 10%;

    font-size: 1.5em;
}

/*Buttons for the dropdown menu */
nav .button {
    display: inline-block; 
    width: 100%;
    height: 11.111%;

    text-decoration: none; 
    white-space: pre-wrap;
    
    font-size: 1.2em;   
    text-align: center;

    border-style: dotted;
    border-width: 3px;
    border-color: black;
}

/* Class made for the lists*/
.item {
    text-align: left;

    padding-left: 10%;
    padding-bottom: 2.5%;
}

/* Class made for the answer to the comments */
.commentAnswer {
    width: 100%;

    overflow-wrap: anywhere;
}

/*Info menu*/
.infoTab {
    background-color: #501b1d;

    border-style: dotted;
    border-width: 3px;
    border-color: black;

    font-size: 1.5em;
    text-align: center;
    list-style-type: none;
    text-decoration: none; 

    height: 25%;
    width: 50%;
}

nav a:hover {
    background-color: grey;
}

nav > ul li:hover > ul { 
    display: inline-block; 
    position: absolute; 

    border-style: dotted;
    border-width: 3px;
    border-color: grey;

    width: 100%;
}

nav > ul > li:hover > ul { 
    display: inline-table; 
    position: relative;

    top: 0%;
    left: 0%;

    background-color: #6f2232;
}

/*Utilização do CSS Flex para a galeria de Fotos de Planetas */
.flex-planet-gallery {
    display: flex;
    
    justify-content: center;

    flex-wrap: wrap;
}

/*Add some padding and borders between images */
.flex-planet-gallery img {
    padding: 0.5%;

    border-style: dotted;
    border-width: 5px;
    border-color: grey;
}

/*Added an animation for the planets borders when hovered over */
.flex-planet-gallery img:hover {
    animation:colors 4s linear infinite;
}

@keyframes colors { 
    0% { border-color: grey; } 
    20% { border-color: white; } 
    40% { border-color: brown; } 
    60% { border-color: darkblue; } 
    80% { border-color: darkgreen; } 
    100% { border-color: grey; } 
}

/*Add a bit of a break before the form and after it*/
main section p ~ form {
    padding-top: 5%;
    padding-bottom: 2%;
}

/*First text has a higher border under it */
main section form fieldset p ~ p {
    padding-top: 4%;
}

/*All the text in the form is formatted like this */
main section form p {
    font-size: 1em;
    color: lightgray;

    padding-top: 1%;
    padding-bottom: 1%;
}

/*Make the labels in the form stand out more */
main section form label {
    color: grey;

    font-style: oblique;
    font-weight: bold;
    padding-right: 1%;
}

/*Put a space in the beginning and in the end of the fieldset */
main section fieldset {
    padding-bottom: 5%;
    padding-top: 2%;
}

/*Padding around the input button */
main section form input {
    padding: 1%;
}

/*Change the aspect of the inputs that take in text*/
input[type=text] {
    color: black;
    background-color: lightgrey;
    resize: vertical;

    border: black;
    border-radius: 4px;
}

/*Make it so that the inputs are longer when selected */
input[type=text]:focus {
  width: 50%;
}

/*Change the aspect of the inputs that take in a number*/
input[type=number] {
    color: black;
    background-color: black;
    resize: vertical;

    border: black;
    border-radius: 4px;
}

/*Change the aspect of the inputs that take in submissions*/
input[type=submit] {
    color: black;
    background-color: lightgrey;

    border: black;
    border-radius: 10px;

    margin-top: 5%;
}

/*Format the table correctly */
main section table {
    position: relative;

    width: 100%;

    background-color: grey;
}

/* Format the table columns and lines correctly */
table, th, tr {
    color: black;

    border: 1px solid black;
}

/*Added some padding for the table text*/
th, tr {
    padding: 0.5%;
}

/*Define table caption */
caption {
    padding-top: 8%;
    padding-bottom: 2%;

    color: lightgrey;
}

/* Define comment as having larger text area*/
.comment input[type=text]{
    width: 60%;
}

/* Make it so that the comments are longer when selected */
.comment input[type=text]:focus {
    width: 100%;
    height: 50px;
}

.question {
    color: grey;
    font-size: 1.1em;

    padding-top: 5%;
    padding-bottom: 0%;
}

/* Design responsivo para Telefone e para Tablet */
@media only screen and (max-width: 768px) {

    /*Definimos o CSS Grid de novo para o tablet e telefone */
    body {
        display: grid;
        width: 100%;
        height: 100vh;  
        grid-template-rows: 20% 15% 65%;
        grid-template-columns: 25% 75%;
        grid-template-areas:
        'title title title'
        'header nav nav'
        'main main main';
        background-color: #1a1a1d;
    }

    /*Format the main image correctly */
    header > figure > img {
        width: 100%;
        height: 100%;

        padding-top: 0%;
    }

    /*Hide all images except one*/
    header .extraImage {
        display: none;
    }

    figure {
        width: 100%;
        height: 100%;
    }
}